<template>
  <div class="agents">
    <div id = "agentList">
      <h1>Agent Lists</h1>
    </div>
    <div v-for="info in data" :key="info.id">
      <div>
        <img id="agentImage" :src="require(`@/assets`+info.profile_image)" />
      </div>
      <div id="agentInfo">
         <router-link :to="'/agents/' + info.id"><h3>Name: {{info.first_name}} {{info.last_name}}</h3></router-link>
        <h3>Telephone: {{info.telephone}}</h3>
        <h3>Email: {{info.email}}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import json from "../assets/house_data.json"; //imports data from json
export default {

  data() {
    return {
      data: json,
      id: this.$route.params.id, //stores id
    };
  },
  methods: {
    showlist() {},
  },
};
</script>
<style scoped>
#test {
  font-size: 20px;
}
#agentInfoDiv {
  display: flex;
  justify-content: center;
  border: 1px solid;
}
#agentInfo {
  align-self: center;
  
}
#agentImage {
  border-radius: 50%;
  align-self: flex-start;
  height: 250px;
  width: 250px;
}
#agentList {
  height: 100px;
}
</style>