
<template>
  <div class="houses">
    <div class="rows">
      <div v-for="eventGroups in house" :key="eventGroups.id">
        <div id="information" v-for="(ev, index) in eventGroups.listings" :key="ev.id">
          <div id="Agent">
            <img id="agentImage" :src="require(`@/assets`+eventGroups.profile_image)" />
            <div id="agentInformation">
              <router-link
                id="agentName"
                :to="'/agents/' + eventGroups.id"
              ><p id = "test">{{eventGroups.first_name}} {{eventGroups.last_name}}</p></router-link>
              <p>Phone: {{eventGroups.telephone}}</p>
              <p>Email: {{eventGroups.email}}</p>
            </div>
          </div>
          <div id="imageDiv" v-for="(image,index) in ev.images" :key="image.id">
            <img id="images" v-if="index === 0" :src="image" />
          </div>
          <div id = "House" >
          <router-link :to="'/house/' + eventGroups.id + '/' + index"><p id = "test">Address: {{ev.address}}</p></router-link>
          <p> {{ev.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import json from "../assets/house_data.json"; //imports data from json
export default {
  data() {
    return {
      id: this.$route.params.id, //stores id
      house: json, 
    };
  },
  created() {},

  methods: {
    showlist() {},
  },
};
</script>
<style scoped>
.houses {
  padding-left: 60px;
  padding-right: 60px;
}
#imageDiv {
  margin-left: 3px;
}
#information {
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  grid-auto-rows: auto;
  height: 250px;
  margin-top: 10px;
  border-style: solid;
}

#images {
  padding-top: 20px;
  width: 300px;
  height: 200px;
  margin: 3px;
  margin-left: 3px;
}
#Agent {
  display: flex;

  width: 400px;
}
#agentImage {
  width: 100px;
  height: 100px;
  align-self: flex-start;
  margin: 10px;
  border-radius: 50%;
}
#agentInformation {
  padding-top: 30px;
}
p {
  font-family: georgia, garamond, serif;
  font-size: 16px;
  font-style: italic;
}
#House {
 
  width: 400px;
}
#test {
  font-size: 20px;
}
</style>

