<template>
  <div class="agent">
    <div v-for="info in data" :key="info.id">
      <div v-if="id == info.id" > <!-- if the id sent to the site matches info.id, print that agent -->
        <div id = "agentInfoDiv">
          <div>  
            <img id = "agentImage" :src="require(`@/assets`+info.profile_image)" />
          </div>
          <div id = "agentInfo">
            <h3> Name: {{info.first_name}} {{info.last_name}}</h3>
            <h3>Telephone: {{info.telephone}}</h3>
            <h3> Email: {{info.email}}</h3>
          </div>
        </div>
        <div id = "listingList">  
          <h2> {{info.first_name}} {{info.last_name}} Objects </h2>
        </div>
          <div id = "Listing" v-for="(ev, index) in info.listings" :key="ev.id">
             <div id="imageDiv" v-for="(image,index) in ev.images" :key="image.id">
              <img id="images" v-if="index === 0" :src="image" />
              </div>
            <div id = "House" >
            <router-link :to="'/house/' + id + '/' + index"><p id = "test">{{ev.address}}</p></router-link>
          <p> {{ev.description}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import json from "../assets/house_data.json"; //imports data from json
export default {
  data() {
    return {
      id: this.$route.params.id, //stores id
      data: json,
    };
  },
};
</script>

<style scoped>
#Listing {
  margin-top: 10px;
  border: 1px solid;
}
#agentInfoDiv {
  display: flex;
  justify-content: center;
  border: 1px solid;
}
#agentInfo {
  align-self: center;
  
}
#agentImage {
  border-radius: 50%;
  align-self: flex-start;
  height: 250px;
  width: 250px;
}
#listingList {
  height: 100px;
  border: 1px solid;
}
#test {
  font-size: 20px;
}
</style>
