<template>
  <div class="house">
    <div v-for="info in data" :key="info.id">
      <div v-if="id == info.id">
        <div v-if="id == info.id" id="agentInfoDiv"> <!-- if the id sent to the site matches info.id, take that agent -->
          <div>
            <img id="agentImage" :src="require(`@/assets`+info.profile_image)" />
          </div>
          <div id="agentInfo">
             <router-link :to="'/agents/' + info.id"><h3>Name: {{info.first_name}} {{info.last_name}}</h3></router-link>
            <h3>Telephone: {{info.telephone}}</h3>
            <h3>Email: {{info.email}}</h3>
          </div>
        </div>
        <div id = "HouseInfoDiv" v-for="(ev, index) in info.listings" :key="ev.listings">
          <div v-if="index == listingIndex"> <!-- if the index sent to the site matches the index from the array, print that house -->
            <div id="imageDiv" v-for="image in ev.images" :key="image.id">
              <img id="images" :src="image" />
            </div>
            <h3>Address {{ev.address}}</h3>
            <h3>description: {{ev.description}}</h3>
            <h3> Latitude: {{ev.latitude}}</h3>
            <h3>longitude: {{ev.longitude}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import json from "../assets/house_data.json"; //imports data from json
export default {
  data() {
    return {
      id: this.$route.params.id,
      listingIndex: this.$route.params.index, //stores index
      data: json,
    };
  },
};
</script>

<style scoped>
#agentInfoDiv {
  display: flex;
  justify-content: center;
  border: 1px solid;
}
#agentInfo {
  align-self: center;
}
#agentImage {
  border-radius: 50%;
  align-self: flex-start;
  height: 250px;
  width: 250px;
}
#imageDiv {
    display: grid;
    margin: 5px;
    display: inline;
}
#HouseInfoDiv {
    margin-top: 10px;
}
</style>